venv/
__pycache__/
*.pyc
.env
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/charts/
!data/processed/charts/*.html
.DS_Store
.Rhistory
my_resume.txt
data/processed/gap_analysis_reports/
